/*-- scss:defaults --*/
// Base document colors
$body-bg: #000000;
$primary: #073642;
$secondary: #fff;
$link-color: #fff;
$body-color: #b5b3b3;
$navbar-bg: #141618;
$navbar-fg: #fff;
$navbar-hl: #fff;
$headings-color: #fff;